@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Rubik", sans-serif;
}

.x{
  color: #E6FBFF
  #CCF7FE
  #99EEFD
  #66E6FC
  #33DDFB
  #00D5FA
  #00A0BC
  #006B7D
  #00353F
  #001519;
  
}